@model project.Models.breed


@using (Html.BeginForm("EditBreed", "Breed", FormMethod.Post, new { id = "form-editbreed", @class = "full-form" }))
{
    //@Html.AntiForgeryToken()

    <div class="container">
        <form class="form-horizontal" id="myForm">
            <h4 style="text-align:left" class="text-success"><img src="~/img/logomodal.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.BreedID)

            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Breed1)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Breed1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })﻿

                    @Html.ValidationMessageFor(model => model.Breed1, "", new { @class = "text-danger" })
                </div>
                <br /> <br />
            </div>
            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Colour)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Colour, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "text-danger" })
                </div>
                <br /> <br />
            </div>
            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Description)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <br /> <br />
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-4">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </form>
        <div style="text-align:center;display:none" id="loaderDiv">
            <img src="~/img/Logo.jpg" width="150" />
        </div>

    </div>
}

<div>
    <a href="#" class="btn btn-danger btn-sm" data-dismiss="modal" id="r">Cancel</a>
</div>
<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Breed/EditBreed",
                data: myformdata,
                success: function () {
                    alert("Successfully updated Breed record");
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Breed/NewIndex";

                }

            })
        })

    })

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
