@model IEnumerable<project.Models.calevent>

@{
    ViewBag.Title = "EIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Calendar Entries</h2>

<a href="@Url.Action("ECreate", "CalEvent")">
    <h4 style="text-align:center" class="text-success">Add Calendar Entry </h4>
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThemeColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFullDay)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFullDay)
            </td>
            <td>
                @Html.ActionLink("Edit", "EEdit", new { id = item.EventID }) |
                @Html.ActionLink("Delete", "EDelete", new { id = item.EventID })
            </td>
        </tr>
    }

</table>

