@model project.Models.medication

@{
    ViewBag.Title = "Create";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<h2 style="text-align:center">Add Sheep medical record</h2>

@using (Html.BeginForm())
{
    // @Html.AntiForgeryToken()
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <h4 style="text-align:center">Enter medical details</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <h4>
                        <label class="control-label col-md-4">
                            Sheep Tag
                        </label>
                    </h4>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.sheeptag, new SelectList(Model.SheepCollection, "sheeptag", "sheeptag"), "Select", new { style = "width:280px; height:30px;" })
                        @Html.ValidationMessageFor(model => model.sheeptag, "", new { @class = "text-danger" })
                    </div>
                    <br /><br />
                </div>
                <div class="form-group">
                    <h4>
                        <label class="control-label col-md-4">
                            Date Treated
                        </label>
                    </h4>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                    <br /><br />
                </div>
                <div class="form-group">
                    <h4>
                        <label class="control-label col-md-4">
                            Issue
                        </label>
                    </h4>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Issue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Issue, "", new { @class = "text-danger" })
                    </div>
                    <br /><br />
                </div>
                <div class="form-group">
                    <h4>
                        <label class="control-label col-md-4">
                            Drug Given
                        </label>
                    </h4>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Name, new SelectList(Model.DrugCollection, "Name", "Name"), "Select", new { style = "width:280px; height:30px;" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <br /><br />
                </div>
                <div class="form-group">
                    <h4>
                        <label class="control-label col-md-4">
                            Dosage
                        </label>
                    </h4>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Dosage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dosage, "", new { @class = "text-danger" })
                    </div>
                    <br /><br />
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-4">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
