@model project.Models.medication

@{
    ViewBag.Title = "Delete";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<h2 style="text-align:center">Delete Medical Record</h2>

<h3 style="text-align:center">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <form class="form-horizontal" style="text-align:center">

        <h5>
            <label>
                @Html.DisplayNameFor(model => model.sheeptag)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.sheeptag)
        </div>
        <h5>
            <label>
                @Html.DisplayNameFor(model => model.Date)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.Date)
        </div>
        <h5>
            <label>
                @Html.DisplayNameFor(model => model.Name)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.Name)
        </div>
        <h5>
            <label>
                @Html.DisplayNameFor(model => model.Issue)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.Issue)
        </div>

        <h5>
            <label>
                @Html.DisplayNameFor(model => model.Dosage)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.Dosage)
        </div>
        <br />
    </form>

    @using (Html.BeginForm()) {
     //   @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:center">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
