@model PagedList.IPagedList<project.Models.lamb>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "NewIndex";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<h2 style="text-align:center">Your Lambs</h2>
<div style="text-align:center">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#MyModal">Add New Lamb</button>
</div>


@using (Html.BeginForm("NewIndex", "Lamb", FormMethod.Get))
{
    <p style="text-align:center">
        <br />
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Search" })
        <button type="submit" class="btn btn-info glyphicon glyphicon-search btn-success"></button>

    </p>
}
<table class="table" style="text-align:center">
    <tr>
        <th title="Sort by Tag No" , style="text-align:center">
            @Html.ActionLink("Tag No", "NewIndex", new { sortOrder = ViewBag.TagNoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th title="Sort by Breed" , style="text-align:center">
            @Html.ActionLink("Breed", "NewIndex", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th title="Sort by Date of Birth" , style="text-align:center">
            @Html.ActionLink("Date of Birth", "NewIndex", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th title="Sort by Mother Ewe" , style="text-align:center">
            @Html.ActionLink("Mother Ewe", "NewIndex", new { sortOrder = ViewBag.MotherEweSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TagNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sheeptag)
            </td>

            <td>
                <a class="btn btn-default glyphicon glyphicon-edit btn-success" onclick="EditLamb(@item.LambID)"></a>
                <a class="btn btn-default glyphicon glyphicon-trash btn-danger" onclick="DeleteLambRecord(@item.LambID)"></a>

            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("NewIndex",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@*Popup Modal for add*@
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                @Html.Partial("AddLamb", new project.Models.createlamb())
            </div>
        </div>

    </div>
</div>

@*Popup Modal for edit*@
<div class="modal fade" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">
                @Html.Partial("EditLamb", new project.Models.lamb())

            </div>
        </div>

    </div>
</div>

@*Popup Modal for delete*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 style="text-align:left" class="text-success"><img src="~/img/logomodal.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete Lamb Record</h4>
            </div>
            <div class="modal-body">
                <h4 style="text-align:center">Are You Sure You Want To Delete This Record?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal" id="r">Cancel</a>
                <a href="#" class="btn btn-success" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>

<script>

    var EditLamb = function (LambId) {

        var url = "/Lamb/GetEditLamb?LambID=" + LambId;

        $("#myModalBodyDiv1").load(url, function () {

            $("#EditModal").modal("show");

        })

    }

    $(document).ready(function () {

        $('#MyModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        $("#MyModal").on("submit", "#form-addlamb", function (e) {
            e.preventDefault();  // prevent standard form submission

            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),  // post
                data: form.serialize(),
                success: function (partialResult) {
                    $("#formContent").html(partialResult);
                    alert("Successfully added Lamb record");
                    $("#MyModal").modal("hide");
                    window.location.reload();
                }
            });
        });
    });


    //Show The Popup Modal For DeleteComfirmation
    var DeleteLambRecord = function (LambId) {
        $("#LambID").val(LambId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var LambId = $("#LambID").val();
        $.ajax({
            type: "POST",
            url: "/Lamb/Delete?id=" + LambId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + LambId).remove();
                alert("Successfully deleted Lamb record");
                window.location.reload();
            }
        })
    }


</script>