@model project.Models.usertable
@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
<br /><br /><br /><br /><br /><br />
@using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
{
<div class="container">
    <div class="Login-form col-md-4 offset-md-4">
        <h1 class="title"></h1>
     
        <form>
            <div class="form-group">
                <label>Username</label>
              
              @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Password</label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <button class="btn btn-primary btn-block">Login</button> 
        </form>
    </div>
</div>
}

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <style>
            #login-div {
                position: absolute;
                left: 40%;
                top: 40%;
                border: 1px solid #eeeeee;
                padding: 10px 10px;
            }
        </style>
    </head>



    <body style="background-image:url(../../img/background.jpg); background-repeat:no-repeat; background-size:2000px">

        

    </body>
  

</html>

<style type="text/css">
    
    .Login-form{
margin-top:60px;
box-shadow:0px 0px 10px 1px grey;
border-radius:5px;
padding-bottom:20px;
background:#cccccc;

}

    .title{
        background-image:url(../../img/Logo.jpg);
        background-repeat:no-repeat;
        background-position:center;
        padding: 100px;
        text-align:center;
        color:#cccccc;
        border-radius: 10px 10px 20px 20px;

    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
