@model project.Models.drugsupplier

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<h2 style="text-align:center">Details</h2>

<div>
    <h4 style="text-align:center">See Supplier details below</h4>
    <hr />
    <form class="form-horizontal" style="text-align:center">
        <h5>
            <label>
                @Html.DisplayNameFor(model => model.SupplierName)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.SupplierName)
        </div>
        <h5>
            <label>
                @Html.DisplayNameFor(model => model.Address)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.Address)
        </div>
        <h5>
            <label>
                @Html.DisplayNameFor(model => model.Telephone)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.Telephone)
        </div>

        <h5>
            <label>
                @Html.DisplayNameFor(model => model.Email)
            </label>
        </h5>
        <div>
            @Html.DisplayFor(model => model.Email)
        </div>

    </form>
</div>
<p style="text-align:center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
