@model project.Models.usertable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<h2 style="text-align:center">Details</h2>

@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()
    <div class="container">
        <form class="form-horizontal">
            <h4 style="text-align:center">See Employee details below</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.firstname)
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>
            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.secondname)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.secondname, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>

            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.DOB)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>

            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Address)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>

            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Postcode)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>

            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Telephone)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>

            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Email)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>

            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Username)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>

            <div class="form-group">
                <h4>
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.Role)
                    </label>
                </h4>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <br /><br />
            </div>
        </form>
    </div>
}
<p style="text-align:center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.userid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
