@model PagedList.IPagedList<project.Models.sheep>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "NewIndex";
   

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<h2 style="text-align:center">Your Sheep</h2>
<div style="text-align:center">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#MyModal">Add New Sheep</button>
    </div>


@using (Html.BeginForm("NewIndex", "Sheep", FormMethod.Get))
{
    <p>
        <br />
       @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Search" })
        <input type="submit" value="Search" title="TagNo"  />
    </p>
}
<table class="table" style="text-align:center">
    <tr>
        <th title="Sort by Tag No", style="text-align:center">
            @Html.ActionLink("Tag No", "NewIndex", new { sortOrder = ViewBag.TagNoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th title="Sort by Breed", style="text-align:center">
            @Html.ActionLink("Breed", "NewIndex", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter})
        </th>

        <th title="Sort by Date of Birth", style="text-align:center">
            @Html.ActionLink("Date of Birth", "NewIndex", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th title="Sort by Join Year", style="text-align:center">
            @Html.ActionLink("Join Year", "NewIndex", new { sortOrder = ViewBag.JoinYearSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sheeptag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yearadded)
        </td>

       <td>
        <a class="btn btn-default glyphicon glyphicon-edit btn-success" onclick="EditSheep(@item.SheepID)"></a>
        <a class="btn btn-default glyphicon glyphicon-trash btn-danger" onclick="DeleteSheepRecord(@item.SheepID)"></a>
        
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("NewIndex",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@*Popup Modal for add*@
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                @Html.Partial("AddSheep", new project.Models.createsheep())
            </div>
        </div>

    </div>
</div>

@*Popup Modal for edit*@
<div class="modal fade" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">
                @Html.Partial("EditSheep", new project.Models.sheep())

            </div>
        </div>

    </div>
</div>

@*Popup Modal for delete*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete Sheep Record</h4>
            </div>
            <div class="modal-body">
                <h4>Are You Sure You Want To Delete This Record.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>

<script>

    var EditSheep = function (SheepId) {
       
        var url = "/Sheep/GetEditSheep?SheepID=" + SheepId;

        $("#myModalBodyDiv1").load(url, function () {
          
            $("#EditModal").modal("show");
           
        })

    }
   
    $(document).ready(function () {
     
        $('#MyModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        $("#MyModal").on("submit", "#form-addsheep", function (e) {
            e.preventDefault();  // prevent standard form submission

            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),  // post
                data: form.serialize(),
                success: function (partialResult) {
                    $("#formContent").html(partialResult);
                    alert("Successfully added Sheep record");
                    $("#MyModal").modal("hide");
                    window.location.reload();
                }
            });
        });
    });
 

    //Show The Popup Modal For DeleteComfirmation
    var DeleteSheepRecord = function (SheepId) {
        $("#SheepID").val(SheepId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var SheepId = $("#SheepID").val();
        $.ajax({
            type: "POST",
            url: "/Sheep/Delete?id=" + SheepId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + SheepId).remove();
                alert("Successfully deleted Sheep record");
                window.location.reload();
            }
        })
    }

    
    </script>
 